@import "tailwindcss";

:root {
  @apply text-violet-50 bg-gray-950 font-normal font-sans;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply w-dvw h-dvh max-w-dvw max-h-dvh p-0 m-0 flex flex-col justify-center items-center overflow-hidden;
}

nav {
  @apply w-full h-1/12 p-4 text-violet-200 flex justify-center items-center gap-8 shadow-lg shadow-violet-700;
}

nav a,
nav a:visited {
  @apply rounded-lg border border-transparent text-violet-200 px-4 py-2 text-base font-medium bg-none cursor-pointer transition-all duration-500;
}
nav a:hover {
  @apply bg-violet-900 text-violet-50;
}

.content {
  @apply w-full h-11/12 box-border flex flex-col justify-center items-center;
}

.card {
  @apply bg-gray-800/40 border border-gray-700 rounded-lg p-4 shadow-md h-11/12 w-10/12 flex flex-col justify-between;
}

button {
  @apply rounded-lg border border-transparent text-violet-200 px-4 py-2 text-base font-medium bg-violet-700 cursor-pointer transition-colors duration-200;
}
button:hover {
  @apply bg-violet-600 text-violet-50;
}

input,
select {
  @apply border p-1 mb-1 bg-gray-800 rounded-md;
}

input:disabled,
select:disabled {
  @apply border p-1 mb-1 bg-gray-900 text-gray-500 cursor-not-allowed;
}

form {
  @apply space-y-4;
}

form > div {
  @apply w-full;
}
form input {
  @apply w-full;
}
