@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

input,
select {
  @apply border p-1 mb-1 bg-gray-800;
}

input:disabled,
select:disabled {
  @apply border p-1 mb-1 bg-gray-800 text-gray-500 cursor-not-allowed;
}
