:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: hsl(260, 93%, 72%);
  --main-color-bright: hsl(260, 93%, 80%);
  --main-color-dark: hsl(260, 93%, 64%);
  --second-color: hsl(11, 24%, 72%);
  --third-color: hsl(213, 55%, 10%);
  --bright-color: hsl(40, 43%, 99%);
  --dark-color: hsl(0, 0%, 12%);
  --second-dark-color: hsl(230, 8%, 14%);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
